.card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: .5em
}
.thumbnail {
    width: 12em;
    border-radius: 8px;
    height: 6.625em;      /* Set desired height */
  object-fit: cover;  /* Crops the image */
  object-position: center; 

}

.card div p.description {
    font-weight: bold;
    line-height: 1.2em;
}

.card div p.channel {
    font-size: .8em;
    line-height: 1em;
}